* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    
  }
  body {
    font-family: 'Inter', sans-serif;
  }
  .center{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .formboldmainwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
   
  }
  
  .formboldformwrapper {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    padding: 40px;
    background: #b9cbe2;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    max-width: 400px;
    background: #b9cbe2;
  
    border-radius: 20px;
    /* position: relative; */
    
  }
  
  .title {
    margin-top: 0;
    font-size: 28px;
    color: rgb(1, 4, 19);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(84, 223, 28);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: rgb(84, 223, 28);
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: rgb(7, 118, 16);
  }
  
  .signin a:hover {
    text-decoration: underline rgb(7, 118, 16);
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: rgb(7, 118, 16);
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(155, 161, 180);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }

    
  }

.send{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #130b04;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 30px;
  letter-spacing: 4px;
  border-radius: 10px;
}

.send:hover{
  background: #03f40f;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f40f,
              0 0 50px #03f40f,
              0 0 100px #03f40f;
}

.text{
  text-align: center;
  font-weight: 300px;
  margin-bottom: 50px;
  color: #0b3319;
 
}

.color1{
  width: 15%;
  background: transparent;
  border: none;
  background: #084511;
  color: #fff;
  padding: 9px;
  margin-top: 10px;
  margin-bottom: 0px;
  
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.35s ease;
}
::placeholder{
  color: #08940f;
}


